
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
        Background overlay, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
        <div>
          <div class="mt-2 sm:mt-3">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              Add a new Todo
            </h3>
            <div class="mt-4">
              <div lass="w-16">
                <label for="about" class="block text-sm font-medium text-gray-700">
                  Text
                </label>
                <div class="mt-1 sm:col-span-2">
                  <textarea formControlName="text" id="about" name="about" rows="3" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
                </div>
              </div>
              <div class="mt-4">
                <label for="prio" class="block text-sm font-medium text-gray-700">Priority</label>
                <select formControlName="prio" id="prio" name="prio" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                  <option value="0">☕️</option>
                  <option value="5">⚠️</option>
                  <option value="10">🔥</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between mt-5 sm:mt-6">
          <button type="submit" [disabled]="!addForm.valid" class="w-16 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
            Save
          </button>
          <a routerLink="/list/{{listId}}/view">
            <button  type="button" class="w-16 inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Cancel
            </button> 
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
