<div class="bg-white overflow-hidden shadow rounded-lg">
  <div class="sm:px-6 lg:px-8 py-6">
    <div class="flex justify-between">
      <div class="font-serif text-2xl">{{(data$|async).name}}</div>
      <a  routerLink="/list/{{listId}}/add">
        <button type="button" class="mr-2 relative inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          <span>
            Add
          </span>
        </button>
      </a>
    </div>
    <div class="bg-white shadow overflow-hidden mt-2 md:mt-4 sm:rounded-md">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let item of (data$|async).items">
          <div class="block hover:bg-gray-50">
            <div class="flex items-center px-4 py-4 sm:px-6"  [class.bg-gray-100]="item.isDone === true">
              <div class="min-w-0 flex-1 flex items-center">
                <div class="flex-shrink-0">
                  {{item.prio | mapPriority}}
                </div>
                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                  <div>
                    <p class="text-sm font-medium" [class.line-through]="item.isDone === true">{{item.text}}</p>
                  </div>
                </div>
              </div>

              <button (click)="markItemDone(item)" type="button" class="mr-2 relative inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <div *ngIf="!item.isDone" class="inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span  class="hidden md:block">
                    Done
                  </span>
                </div>
                <div *ngIf="item.isDone"  class="inline-flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                  <span  class="hidden md:block">
                    Undone
                  </span>
                </div>
              </button>

              <button (click)="removeItem(item)" type="button" class=" relative inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="hidden md:block">
                  Trash
                </span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
